@media screen and (max-width:768px) {
    header::after {
        font-size: 3rem;
    }
    .plan-img-div::after {
        font-size: 5rem;
    }
    .footer_bg {
        margin-top: -20%;
    }
    .header-img {
        display: none;
    }
    .plan-div {
        width: 90%;
        margin: auto;
    }
}


/*===========================*/

@media screen and (max-width:580px) {
    .testimonial-buttons .customPrevBtn,
    .customNextBtn {
        display: none;
    }
    .footer_bg {
        margin-top: -35%;
    }
    .header-content h2 {
        font-size: 2.5rem;
        margin-top: 25px;
    }
    .gallery-section .headings {
        max-width: 300px !important;
        margin: auto !important;
    }
    .news-section .headings {
        max-width: 300px !important;
        margin: auto !important;
    }
    .row-col,
    .row-last-col {
        border-bottom: 1px solid #414141;
        margin-bottom: 5px;
        padding-left: 10px;
    }
    .row-last-col {
        padding-bottom: 8px;
    }
    .image-set .card {
        width: 90%;
        margin: auto;
    }
    .plan-div {
        width: 85% !important;
    }
}


/*=================================================================*/


/*NEWS*/

@media(max-width:970px) {
    .achieve-right-content .card img {
        height: 180px;
    }
    .achieve-right-content .card {
        height: 250px;
    }
    .content {
        display: none;
    }
    .icon {
        position: absolute;
        top: 90px;
        left: 150px;
    }
}

@media(max-width:768px) {
    .news-left img {
        height: 200px;
    }
    .news-middle-img img {
        height: 350px;
    }
    .achieve-right-content .card img {
        height: 250px;
    }
    .achieve-right-content .card {
        height: 320px;
    }
    .icon {
        top: 40%;
        left: 43%;
    }
    .icon svg {
        height: 40px;
        width: 40px;
    }
}


/*=====================================================*/

@media (max-width:1057px) {
    .navbar-1 {
        background-image: linear-gradient(315deg, #000000 0%, #414141 88%);
    }
    .navbar-1 h3 {
        font-size: 20px;
    }
    .navbar-1 li {
        font-size: 15px;
        padding: 1px;
    }
    .navbar-1 ul li {
        color: white;
        padding-top: -10px;
        padding-left: 0 !important;
    }
    .underline-hover-1::after,
    .underline-hover-1::before {
        background: none;
    }
    .navbar-1 .menu {
        position: fixed;
        left: -100%;
        top: 65px;
        background-color: rgba(0, 0, 0, 0.9);
        height: 100vh;
        width: 100%;
        color: rgb(255, 255, 255);
        display: block;
        text-align: center;
        transition: all 0.4s ease;
        padding-left: 0;
        padding-top: 30px;
        z-index: 100000 !important;
    }
    .navbar-1 .menu-icon {
        cursor: pointer;
        display: inline-block;
        padding: 20px 0px;
        margin-top: 15px;
        position: relative;
        user-select: none;
    }
    .navbar-1 .menu-icon .navicon {
        background: rgb(255, 255, 255);
        display: block;
        height: 2px;
        position: relative;
        transition: background .2s ease-out;
        width: 18px;
    }
    .navbar-1 .menu-icon .navicon:before,
    .navbar-1 .menu-icon .navicon:after {
        background: rgb(255, 255, 255);
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%;
    }
    .navbar-1 .menu-icon .navicon:before {
        top: 5px;
    }
    .navbar-1 .menu-icon .navicon:after {
        top: -5px;
    }
    /* menu btn */
    .navbar-1 .menu-btn {
        display: none;
    }
    .navbar-1 .menu-btn:checked~.menu {
        left: 0%;
    }
    .navbar-1 .menu-btn:checked~.menu-icon .navicon {
        background: transparent;
    }
    .navbar-1 .menu-btn:checked~.menu-icon .navicon:before {
        transform: rotate(-45deg);
    }
    .navbar-1 .menu-btn:checked~.menu-icon .navicon:after {
        transform: rotate(45deg);
    }
    .navbar-1 .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
    .navbar-1 .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
        top: 0;
    }
}