@media screen and (max-width:769px) {
    .plan-img-div::after {
        font-size: 5rem;
    }
    .footer_bg {
        margin-top: -20%;
    }
    .header-img {
        display: none;
    }
    .plan-div {
        width: 90%;
        margin: auto;
    }
    header {
        background-position: left;
    }
    .header-content h2 {
        font-size: 3.8rem !important;
    }
    .header-content p {
        font-size: 20px;
    }
    .registration-img-div {
        width: 30% !important;
        background-image: url("../assets/gallery2.png");
        background-size: cover;
        background-position: center;
    }
    .registration-right-div {
        width: 70% !important;
    }
}


/*===========================*/

@media screen and (max-width:580px) {
    .testimonial-buttons .customPrevBtn,
    .customNextBtn {
        display: none;
    }
    .footer_bg {
        margin-top: -35%;
    }
    .header-content h2 {
        font-size: 2.5rem;
        margin-top: 25px;
    }
    .race-countdown span {
        font-size: 1rem !important;
        padding: 10px !important;
    }
    .gallery-section .headings {
        max-width: 300px !important;
        margin: auto !important;
    }
    .news-section .headings {
        max-width: 300px !important;
        margin: auto !important;
    }
    .row-col,
    .row-last-col {
        border-bottom: 1px solid #414141;
        margin-bottom: 5px;
        padding-left: 12px;
    }
    .row-last-col {
        padding-bottom: 8px;
    }
    .image-set .card {
        width: 90%;
        margin: auto;
    }
    .plan-div {
        width: 85% !important;
    }
    header {
        background-image: url("../assets/bg111.png") !important;
        background-position: right !important;
    }
    .header-content h2 {
        font-size: 2rem !important;
    }
    .headings h4 {
        font-size: 1rem !important;
    }
    .registration-img-div {
        display: none !important;
    }
    .registration-right-div {
        width: 100% !important;
    }
    .phone-input-div {
        margin-bottom: 1.5rem;
    }
    .party-section img {
        width: 88%;
        display: block;
        margin: auto;
    }
    .success-div {
        width: 90vw;
    }
}


/*=========================================================*/

@media screen and (max-width:1200px) {
    header {
        background-position: center;
    }
    .header-content h2 {
        font-size: 5rem;
    }
    .header-content p {
        font-size: 20px;
    }
}


/*=================================================================*/


/*NEWS*/

@media(max-width:970px) {
    .achieve-right-content .card img {
        height: 180px;
    }
    .achieve-right-content .card {
        height: 250px;
    }
    .content {
        display: none;
    }
    .icon {
        position: absolute;
        top: 90px;
        left: 150px;
    }
}

@media(max-width:768px) {
    .news-left img {
        height: 200px;
    }
    .news-middle-img img {
        height: 350px;
    }
    .achieve-right-content .card img {
        height: 250px;
    }
    .achieve-right-content .card {
        height: 320px;
    }
    .icon {
        top: 40%;
        left: 43%;
    }
    .icon svg {
        height: 40px;
        width: 40px;
    }
}


/*=====================================================*/