/*===============================================================================*/

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');
@font-face {
    font-family: myFirstFont;
    src: url("../font/race.ttf");
}


/* GALLERY*/

.image-set {
    padding-top: 30px;
}

.fw1-bold {
    color: #0090D0;
    letter-spacing: 5px !important;
    font-size: 2.5rem;
}

.image-set .card {
    margin: 0;
    padding: 0;
    cursor: pointer;
    border: 0 !important;
}

.image-set .card .gallery image {
    position: relative;
}

.gallery-image img {
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0px rgba(34, 34, 34, 0.2) !important;
}

.gallery-content {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 1.5rem;
    font-weight: 800;
    border-radius: 0.35em 0.35em 0.35em 0.35em;
    background-color: #0090D08c;
    color: white;
    transition: all 0.25s ease-in-out;
    font-family: 'Orbitron', sans-serif;
}

.card:hover .gallery-content {
    display: flex;
}

.image-set .card:before,
.image-set .card:after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    opacity: 0;
    z-index: 1;
    transition: all 0.5s;
}

.image-set .card:before {
    bottom: 5%;
    left: 5%;
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
}

.image-set .card:after {
    top: 5%;
    right: 5%;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
}

.image-set .card:hover:before,
.image-set .card:hover:after {
    opacity: 1;
    width: 90%;
    height: 90%;
}

@media(max-width:970px) {
    .gallery-content {
        position: relative;
        display: block;
        background-color: white;
        color: #0090D0;
    }
}


/*===============================================================================*/


/* NEWS PAGE */

.outline-red {
    border: 1px solid #0090D0;
    color: #000;
}

.outline-red:hover {
    background-color: #0090D0 !important;
    border-color: #0090D0 !important;
    color: #fff;
}

.card-text {
    color: #000 !important;
}

.news,
#news,
#more {
    background-color: #f9f9f9 !important;
    color: #000;
}

#news .card {
    background-color: #f9f9f9 !important;
    color: #000 !important;
}

#more .card {
    background-color: #f9f9f9 !important;
    color: #000 !important;
}

.news-left {
    color: #000 !important;
}

.news-left img {
    height: 150px;
}

.news-middle-img img {
    height: 380px;
    object-fit: cover;
    transition: all 1s ease-in-out;
}

.news-middle-img {
    position: relative;
    overflow: hidden;
}

.achieve-left-img {
    position: relative;
    overflow: hidden;
}

.news-middle-img .content {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: #0092d080;
    color: rgb(17, 17, 17);
    transition: all 0.5s ease-in-out;
    padding: 100px;
    text-align: center;
}

.achieve-left-img .content {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: #0092d096;
    color: rgb(3, 3, 3);
    transition: all 0.5s ease-in-out;
    padding: 100px;
    text-align: center;
}

.news-middle-img button,
.achieve-left-img button {
    color: rgb(10, 10, 10) !important;
    border-color: rgb(7, 7, 7) !important;
}

.news-middle-img:hover .content {
    display: block;
}

.achieve-left-img:hover .content {
    display: block;
}

.news-middle-img:hover img {
    transform: scale(1.3);
}

.achieve-left-img:hover img {
    transform: scale(1.3);
}

.news-right a {
    text-decoration: none;
    color: #0090D0;
}

.news-right a:hover {
    color: #0090d0;
}


/*
button {
    color: #0090D0 !important;
    border-color: #0090D0 !important;
}

button:hover {
    color: white !important;
    background-color: #0090D0!important;
}
*/

.achieve-left-content .card {
    height: 150px;
}

.achieve-left-img img {
    height: 350px;
    object-fit: cover;
    object-position: center;
    transition: all 1s ease-in-out;
}

.achieve-right-content .card {
    height: 180px;
}

.achieve-right-content a {
    text-decoration: none;
    color: #0090D0;
}

.achieve-right-content a:hover {
    color: #0090D0;
}

.achieve-right-content .card img {
    height: 100px;
    object-fit: cover;
    object-position: center;
}

.cards {
    object-fit: cover;
    box-sizing: border-box;
}

.video-img img {
    object-fit: cover;
}

.video-img {
    position: relative;
}

.video-img .play {
    position: absolute;
    height: 180px;
    top: 0;
    left: 0;
    display: none;
}

.video-img:hover .play {
    display: block;
}

.icon {
    position: absolute;
    top: 40%;
    left: 45%;
    cursor: pointer;
}

.videos a {
    color: #000;
    text-decoration: none;
}

.videos a:hover {
    color: #0090D0;
}

.gradient-underline {
    padding-bottom: 4px;
    position: relative;
    text-decoration: none;
    font-family: serif;
    font-weight: 800;
}

.gradient-underline::after {
    background: #0090D0;
    background: linear-gradient(to right, #0090D0 1%, transparent 100%);
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 20%;
}

@media(max-width:970px) {
    .achieve-right-content .card img {
        height: 180px;
    }
    .achieve-right-content .card {
        height: 250px;
    }
    .content {
        display: none;
    }
    .icon {
        position: absolute;
        top: 90px;
        left: 150px;
    }
}

@media(max-width:768px) {
    .news-left img {
        height: 200px;
    }
    .news-middle-img img {
        height: 350px;
    }
    .achieve-right-content .card img {
        height: 250px;
    }
    .achieve-right-content .card {
        height: 320px;
    }
    .icon {
        top: 40%;
        left: 43%;
    }
    .icon svg {
        height: 40px;
        width: 40px;
    }
}


/*====================================================================================*/


/* CAMPUS */


/* animation */

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateX(0);
    }
}

.kart-detail h2 {
    color: rgb(197, 2, 2);
    /* animation-name: slideInFromTop;
    animation-duration: 0.8s; */
}

.campus-main-img {
    width: 95%;
}

.kart-content-1 img {
    animation-name: slideInFromLeft;
    animation-duration: 1.2s;
}

.kart-content-2 {
    background: black;
    padding-top: 15px;
    padding-bottom: 65px;
}

.kart-content-2 img {
    animation-name: slideInFromRight;
    animation-duration: 1.2s;
}

.kart-content-2 h2 {
    color: rgb(197, 2, 2);
}

.kart-content-3 h2 {
    color: rgb(197, 2, 2);
}

.kart-content-3 img {
    margin-left: 15px;
    margin-top: 2px;
    animation-name: slideInFromBottom;
    animation-duration: 1.5s;
}


/* safety rules */

.flag-green i {
    color: rgb(23, 201, 0);
}

.flag-yellow i {
    color: rgb(236, 201, 3);
}

.flag-blue i {
    color: rgb(0, 25, 253);
}

.flag-red i {
    color: rgb(247, 0, 0);
}

.flag-black i {
    color: rgb(0, 0, 0);
}

@media (max-width:564px) {
    .kart-detail {
        padding-left: 8px;
    }
    .kart-detail h2 {
        padding-top: 10px;
        padding-bottom: 8px;
    }
    .kart-content-1 img {
        padding-left: 30px;
        margin-bottom: 10px;
    }
    .kart-content-1 h4 {
        margin-top: 30px;
        padding-left: 10px;
    }
    .kart-content-1 h6 {
        padding-left: 10px;
    }
    .kart-content-2 img {
        margin-top: 30px;
        padding-left: 2px;
    }
    .kart-content-2 h2 {
        margin-left: 10px;
    }
    .kart-content-2 h4 {
        margin-top: 30px;
        padding-left: 10px;
    }
    .kart-content-2 h6 {
        padding-left: 10px;
    }
    .kart-content-3 img {
        margin-left: 10px;
    }
    .kart-content-3 h2 {
        margin-left: 10px;
    }
    .kart-content-3 h4 {
        margin-top: 30px;
        padding-left: 10px;
    }
    .kart-content-3 li {
        padding-left: 10px;
    }
}


/*==========================================================================*/


/* ABOUT US*/

.about-main {
    background: url("../assets/news1.jpeg") rgba(0, 0, 0, 0.753) no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    background-position: center;
    color: #fff;
    text-align: center;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info .name,
.info .position,
.info .email {
    background-image: linear-gradient(to right, #0090D0, #0090D0);
    color: #f9f9f9;
}

.title-h1 {
    letter-spacing: .004em;
    text-transform: uppercase;
    font-size: 3rem;
    line-height: 1.12;
}

.title {
    text-align: center;
    margin-bottom: .25em;
}

.section-inner {
    position: relative;
    display: inline-block;
    width: 100%;
    z-index: 50;
    vertical-align: middle;
    margin: 130px 0 100px;
    min-width: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font: inherit;
    font-size: 100%;
    box-sizing: border-box;
}

.droid-description {
    margin-top: -.4em;
    text-align: center;
    overflow-wrap: break-word;
    line-height: 1.4375;
}

@keyframes opac {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

h1 {
    animation: opac 1.2s;
    animation-timing-function: ease-out;
    animation-delay: 0.2s;
}

div {
    display: block;
}

.droid-description {
    animation: opac 1.6s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    padding-top: 10px;
}

.gc {
    max-width: 830px;
    float: none;
    clear: both;
    margin-left: auto;
    margin-right: auto;
    min-height: 1px;
    padding: 0 14px;
    position: relative;
    box-sizing: border-box;
    background-clip: content-box;
}

.grid {
    margin: 0 auto;
    width: 100%;
    max-width: 1400px;
    box-sizing: border-box;
    background-clip: content-box;
    padding-left: 6px;
    padding-right: 6px;
}

.grid {
    padding-left: 38px;
    padding-right: 38px;
}

.image img {
    width: 100%;
}

.box {
    width: 90%;
    margin: auto;
}

.tm .box {
    -webkit-box-flex: 1;
    flex: 1 0 33.83333%;
    max-width: calc(50% - 10px);
    margin-right: 10px;
    display: block;
}

.grid .gc {
    float: none;
    clear: both;
    margin-left: auto;
    margin-right: auto;
}


/*
html,
body,
div,
span,
blockquote,
pre,
a,
em,
img,
center,
ol,
ul,
li,
footer,
header,
menu,

output,
ruby,
section,
time,
mark,
audio,
video {
    min-width: 0;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}
*/

#team .block-name {
    line-height: 1.09091;
    font-size: 1.75rem;
    margin-bottom: .6em;
}

.block-name {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    padding-top: 30px;
    font-weight: bold;
}

.tm .info {
    margin-top: -30px;
    padding: 0 16px;
}

.tm .info {
    position: relative;
    margin-top: -38px;
    padding: 0 20px;
    color: #fff;
}

.info .name {
    font-family: 'Orbitron', sans-serif;
    padding: 4px 8px;
    font-size: 30px;
    margin-top: 0px;
    font-size: 1.175rem;
    letter-spacing: .04em;
    margin-bottom: 0;
    text-transform: uppercase;
    line-height: 1.2em;
    display: inline-block;
}

.info .position {
    margin-top: -10px;
    padding: 6px 8px;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1em;
    letter-spacing: .04em;
    display: inline-block;
}

.info .email {
    margin-top: -6px;
    padding: 4px 8px;
    font-size: 14px;
    font-size: .875rem;
    display: inline-block;
    margin-bottom: 10px;
}

.tm .flex {
    max-width: 980px;
}

.image img {
    box-shadow: 0 4px 8px 0px rgba(34, 34, 34, 0.2) !important;
    border-radius: 5px !important;
}

.flex {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    grid-column-gap: 3em;
    grid-row-gap: 1em;
    padding-left: 24px;
}

.tm {
    margin-left: 24px;
}