@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');
@font-face {
    font-family: myFirstFont;
    src: url("../font/race.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    width: 100vw;
    overflow-x: hidden !important;
}

.font1 {
    font-family: myFirstFont !important;
}

.font2 {
    font-family: 'Orbitron', sans-serif !important;
    letter-spacing: 0.5px !important;
}

.red {
    color: #0090D0;
}

.red2 {
    background-color: #0090D0 !important;
    color: #f9f9f9 !important;
    outline: none !important;
    border: 1.5px solid #0090D0 !important;
}

.btn-outline-light:hover {
    background-color: #0090D0 !important;
    border: #0090D0;
    color: #f9f9f9 !important;
}

.headings {
    display: flex;
    max-width: 650px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20PX;
}

img {
    border-radius: 10px;
}

.headings h4 {
    width: 40%;
    color: #0090D0;
    height: 100%;
    font-family: serif;
    font-weight: 800;
    font-family: myFirstFont;
    padding-right: 10px;
}

.headings p {
    width: 60%;
    padding-left: 10px;
    border-left: 1.5px rgb(161, 161, 161) solid;
}

#modal {
    color: transparent !important;
    background-color: transparent !important;
    border: none !important;
}

#modal:focus {
    box-shadow: none !important;
    outline: none !important;
    border: none !important;
}

.modal-subhead {
    font-size: 18px;
}

.modal-dialog {
    width: 90vw !important;
}

.modal-content {
    background-color: rgba(255, 255, 255, 0.61) !important;
}

.modal-btn {
    z-index: -1000 !important;
}

.new {
    font-size: 10px;
    background-color: #0090D0;
    color: #fff;
    padding: 3px;
    border-radius: 4px;
}


/*=========================================*/


/*PRELOADER*/

.loader-bg {
    position: fixed;
    z-index: 999999999 !important;
    background: #111111;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.loader-bg img {
    max-width: 250px;
}


/*========================================================================*/


/*NAVBAR */

.logo {
    margin-top: 5px;
    height: 70px;
    margin-bottom: 0;
    padding-left: 10px;
}


/*===============================================================*/


/*HEADER*/

header {
    width: 100vw !important;
    min-height: 90vh;
    background-image: url("../assets/bg8.png");
    background-size: cover;
    background-position: right;
    color: #f9f9f9;
}

.header-container {
    height: 81vh;
}

.header-img {
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: start;
}

.header-img img {
    width: 100%;
    display: none;
}

.header-right {
    height: 100%;
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}

.header-content {}

.header-content h2 {
    font-family: myFirstFont;
}

.header-content p {}


/*===========================================================*/


/* Feature */

.icon-div i {
    font-size: 40px;
    color: #0090D0;
}

.features-headings {
    display: flex;
    max-width: 550px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

.features-headings h4 {
    width: 40%;
    border-right: 1.5px rgb(161, 161, 161) solid;
    color: #0090D0;
    height: 100%;
}

.features-headings p {
    width: 60%;
    padding-left: 10px;
}

.feature-heading {
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 600;
    color: #000;
}


/*============================================================================*/


/* Gallery*/

.gallery-section {
    background-color: #000;
    color: #fff;
}

.gallery-div {
    display: flex;
    width: 85%;
    margin: auto;
    overflow-x: hidden;
}

.gallery-div img {
    width: 250px;
    z-index: -1 !important;
}

.gallery-section .headings {
    max-width: 500px !important;
}

.gallery-section .headings h4 {
    width: 50%;
    color: #fff;
    border-right: 1.5px rgb(161, 161, 161) solid;
}

.gallery-section .headings p {
    width: 50%;
    letter-spacing: 5px !important;
    font-weight: 700 !important;
    border-left: none !important;
    padding-left: 20px !important;
    color: #0090D0 !important;
}

.gallery-page-link {
    text-align: right;
    margin-top: 20px;
    margin-bottom: 0;
}

.gallery-page-link a {
    text-decoration: none;
    color: #0090D0;
    margin-right: 15%;
}


/*============================================================================*/


/* Memberships and plans*/

.membership-section {
    background-image: url("../assets/bg4.png");
    background-size: cover;
    background-position: right;
}

.membership-container {
    position: relative;
}

.plan-img-div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    position: relative;
}

.plan-img-div img {
    width: 100%;
}

.plan-div {
    height: 100%;
    /* border: 1px rgb(190, 190, 190) solid;*/
    padding: 12%;
    border-radius: 5px;
    background-color: #fff;
    transition: all ease 0.8s;
    box-shadow: 0 4px 8px 0px rgba(34, 34, 34, 0.2) !important;
}

.plan-div:hover {
    transform: translateY(-20px);
}

.plan-second-div {
    background-color: rgb(243, 243, 243);
}

.plan-subtext {
    color: #0090D0;
    margin-bottom: 0;
}

.plan-name {
    font-size: 22px;
    font-weight: 800;
    margin-bottom: 5px;
}

.plan-price {
    font-size: 30px;
    font-weight: 700;
}

.rupees-icon {
    color: #0090D0;
    font-size: 18px;
    font-weight: 600;
}

.plan-div ul {
    list-style: none;
    padding-left: 0 !important;
    margin-bottom: 20px;
}

.plan-div ul li i {
    color: #0090D0;
    font-size: 14px;
}

.plan-div button {
    padding: 8px 25px;
}


/*=============================================================*/


/* EVENTS*/

.event-section {
    background-color: #f5f5f5;
}

.event-div {
    /*border: 0.5px solid rgb(223, 223, 223);*/
    box-shadow: 0 4px 8px 0px rgba(34, 34, 34, 0.2) !important;
    margin: 10px;
    transition: all ease 0.8s;
    background-color: #ffffff;
    border-radius: 5px;
}

.event-div img {
    border-radius: 5px;
}

.event-content {
    padding: 15px;
}

.event-div button {
    width: 100%;
    border: #000 1px solid !important;
    background-color: transparent !important;
    color: #000 !important;
    transition: all ease 0.4s;
}

.event-div button:hover {
    background-color: #0090D0 !important;
    border-color: #0090D0 !important;
    transform: scale(0.95);
    color: #fff !important;
}

.event-div button:focus {
    box-shadow: none !important;
}

.event-section .headings {
    max-width: 500px !important;
}

.event-section .headings h4 {
    width: 50%;
    color: rgb(0, 0, 0);
    border-right: 1.5px rgb(0, 0, 0) solid;
}

.event-section .headings p {
    width: 50%;
    letter-spacing: 5px !important;
    font-weight: 700 !important;
    border-left: none !important;
    padding-left: 20px !important;
    color: #0090D0 !important;
}

.event-date {
    color: #0090D0;
}

.event-heading {
    font-size: 20px;
    font-weight: 600;
}


/*===========================================================*/


/*AWARDS*/

.award-section {
    background: url("../assets/event1.png") rgba(0, 0, 0, 0.753) no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    background-position: center;
}

.award-details {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.award-detail {
    padding-top: 20px;
    color: #fff;
}

.award-company {
    color: #0090D0;
    font-weight: 800;
    font-size: 18px;
}


/*===========================================================*/


/*ABOUT US*/

.about-section {
    background-color: #000;
    color: #f9f9f9;
}

.about-img-div img {
    width: 100%;
    border-radius: 5px;
}


/*=============================================================*/


/*Testimonials*/

.testimonial-section {
    background: url("../assets/bg-1.png") rgba(0, 0, 0, 0.753) no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    background-position: center;
    color: #fff;
    text-align: center;
}

.testimonial-section .container {
    max-width: 1200px !important;
    margin: auto;
}

.testimonial-buttons {
    display: flex;
    align-items: center;
    height: 100%;
}

.next-btn {
    justify-content: flex-end;
}

.testimonial-buttons .customPrevBtn,
.customNextBtn {
    color: #fff !important;
    font-size: 30px;
}

.testimonial-section .container .owl-theme img {
    width: 80px;
    margin: auto;
    border-radius: 50%;
    margin-bottom: 10px;
}

.name {
    font-size: 23px;
    font-weight: 500;
    margin-bottom: 5px;
    font-family: serif;
    letter-spacing: 0.8px;
}

.designation {
    font-size: 20px;
    color: #0090D0;
    font-weight: 700;
    margin-bottom: 0;
    font-family: serif;
    letter-spacing: 0.8px;
}


/*========================================================*/


/*NEWS */

.news-section {}

.news-section .headings {
    max-width: 500px !important;
}

.news-section .headings h4 {
    width: 50%;
    color: rgb(0, 0, 0);
    border-right: 1.5px rgb(161, 161, 161) solid;
}

.news-section .headings p {
    width: 50%;
    letter-spacing: 5px !important;
    font-weight: 700 !important;
    border-left: none !important;
    padding-left: 20px !important;
    color: #0090D0 !important;
}

.news-container {
    max-width: 1100px !important;
}

.news-div {
    height: 100%;
    /* border: 1px rgb(190, 190, 190) solid;*/
    border-radius: 5px;
    box-shadow: 0 4px 8px 0px rgba(34, 34, 34, 0.2) !important;
}

.news-left-card {
    padding: 15px;
}

.side-news-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.news-img-div {
    background-image: url(../assets/news11.jpg);
    height: 200px;
    background-position: center;
    border-radius: 5px;
}

.news-second-col {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between !important;
}

.side-news {
    display: flex;
    /*border: 1px rgb(190, 190, 190) solid;*/
    border-radius: 5px;
    box-shadow: 0 4px 8px 0px rgba(34, 34, 34, 0.2) !important;
}

.side-img-div {
    background-image: url("../assets/gallery1.png");
    background-size: cover;
    background-position: center;
    width: 45%;
    border-radius: 5px;
}

.news-card {
    padding: 16px;
    border-radius: 5px;
    width: 55%;
}

.news-headline {
    font-size: 18px;
    font-weight: 500;
    color: #000;
    margin-bottom: 7px;
}

.news-date {
    color: #0090D0;
    font-weight: 600;
    margin-bottom: 7px;
}

.news-left-card p,
.news-card p {
    margin-bottom: 8px;
}

.news-card p a {
    color: #0090D0;
}


/*======================================================*/


/*Footer*/

.footer img {
    width: 70px;
}

.footer {
    background-color: #111111;
    font-size: 14px;
}

.footer-logo-img img {
    height: 80px !important;
    width: auto !important;
}

.footer p {
    color: #f9f9f9;
}

.footer .container {
    max-width: 1100px !important;
    z-index: 1000 !important;
}

.footer-logo-txt {
    width: 90%;
}

.my-btn {
    background-color: #0090D0;
}

.footer a {
    text-decoration: none;
    color: #f9f9f9;
}

.topic {
    font-size: 19px;
    font-weight: 450;
    margin-bottom: 0;
    color: rgb(255, 255, 255) !important;
}

.social-div a i {
    font-size: 22px !important;
    margin-top: 10px;
    color: #f9f9f9 !important;
}

.footer i:hover {
    color: #017aad !important;
}

.footer form input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    max-width: 260px;
}

.footer form .btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: none !important;
    outline: none !important;
    display: flex;
}

.row-col i {
    font-size: 15px;
    color: #f9f9f9 !important;
    margin-right: 5px;
}

.footer form .btn i {
    color: #0090D0 !important;
    margin: 3px 0;
    font-size: 18px;
}

.disableElem {
    pointer-events: none;
    opacity: 0.8;
}

.footer hr {
    color: rgb(0, 0, 0);
}


/*==============================================================*/


/*animations*/

body {
    -webkit-animation: color-fade 10s infinite;
    -moz-animation: color-fade 10s infinite;
    animation: color-fade 10s infinite;
}


/* @-webkit-keyframes color-fade {
     0% { background: #9a5342; }
     25% { background: #fffc0c; }
     50% { background: #e46d00; }
     75% { background: #ff3506; }
     100% { background: #9a5342; }
   }
    */


/*============================================================================*/


/* CONTACT US PAGE */

.contact-section {
    padding-left: 0;
}

.contact-container {
    margin: 0;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.contact-content {
    background: url("../assets/gallery4.png") rgba(0, 0, 0, 0.653) no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    background-position: center;
    color: #fff;
    margin: 0;
    padding: 10%;
    height: 100% !important;
}

.content2 p i {
    color: #0090D0;
}

.contact-form form input[type="text"],
.contact-form form input[type="email"],
.contact-form form input[type="tel"],
.contact-form form textarea {
    border: none !important;
    /*  border-bottom: 1.4px solid rgb(161, 161, 161) !important;
    border-radius: 0 !important;*/
    border-color: rgb(220, 221, 221);
    padding-left: 0;
    padding: 10px !important;
    box-shadow: 0 4px 8px 0px rgba(34, 34, 34, 0.2) !important;
}

.contact-form form input[type="text"]:focus,
.contact-form form input[type="email"]:focus,
.contact-form form input[type="tel"]:focus,
.contact-form form textarea {
    box-shadow: none !important;
    border-color: #0090D0 !important;
    box-shadow: 0 4px 8px 5px rgba(53, 53, 53, 0.2) !important;
}

.contact-form ::-webkit-input-placeholder {
    color: rgb(238, 238, 238);
}

.form-tag {
    width: 85%;
    margin: auto;
    padding: 3% 5%;
}


/*==========================================*/


/*Racing*/

.racing-section {
    background-color: #e9e9e9;
}